@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 35px;
    gap: 50px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item {
    border-top: 3px solid #e1b838;
    border-bottom: 3px solid #e1b838;
    &:nth-child(1) {
      border-left: 3px solid #e1b838;
    }
    &:nth-child(5) {
      border-right: 3px solid #e1b838;
    }

    &:hover {
      background-color: #e1b838;
    }
  }
  &__list-link {
    display: block;
    color: #e1b838;
    font-size: 33px;
    padding-right: 24px;
    padding-left: 56px;
    &:hover {
      color: #262626;
    }
  }
}
